<div *ngIf="showOptions" id="pre-form-container" class="container">
    <h2>Would you like to add a player or a course?</h2>
    <div id="pre-form-menu-container" class="container">
        <p-button *ngFor="let option of options" (click)="onOptionSelected(option)">{{ option.name }}</p-button>
    </div>
</div>

<div *ngIf="!showOptions" id="form-container" class="container">
    <div *ngIf="selectedOption?.id == 1">
        <p>Add player works!</p>
    </div>
    <div *ngIf="selectedOption?.id == 2">
        <p>Add course works!</p>            
    </div>
</div>