<div class="center">
    <div id="page-container" class="center">
        <img style="margin-top: 30px; border-radius: 10px;" id="logo" src="/assets/Logov2.png" width="400" height="400">
        <div *ngIf="showOptions" id="pre-form-container" class="center">
            <h4>Would you like to add a player or a course?</h4>
            <div id="pre-form-menu-container" class="center">
                <p-button *ngFor="let option of options" (click)="onOptionSelected(option)" label="{{ option.name }}"></p-button>
            </div>
        </div>
        
        <div *ngIf="!showOptions" id="form-container" class="center">
            <div *ngIf="selectedOption?.id == 1">
                <p-floatLabel>
                    <input pInputText type="text" id="firstName" [(ngModel)]="firstName" />
                    <label for="firstName">First Name</label>
                </p-floatLabel>
                <p-floatLabel>
                    <input pInputText type="text" id="lastName" [(ngModel)]="lastName" />
                    <label for="lastName">Last Name</label>
                </p-floatLabel>
                <p-button class="center" (click)="addPlayer()" label="ADD"></p-button>
                <p-toast key="addPlayerSuccess" position="top-right" />
                <p-toast key="addPlayerError" position="top-right" />
            </div>
            <div *ngIf="selectedOption?.id == 2">
                <p-floatLabel>
                    <input pInputText type="text" id="courseName" [(ngModel)]="courseName" />
                    <label for="courseName">Course Name</label>
                </p-floatLabel>
                <p-floatLabel>
                    <input pInputText type="text" id="city" [(ngModel)]="city" />
                    <label for="city">City</label>
                </p-floatLabel>
                <p-floatLabel>
                    <p-dropdown 
                        [options]="states"
                        [(ngModel)]="selectedState"
                        inputId="stateAbbr" />
                    <label for="stateAbbr">State</label>
                </p-floatLabel>
                <span *ngFor="let p of parByHole; let i = index; trackBy: trackByHole" class="center" id="input-number-container">
                    <label class="mb-2 block font-bold" id="input-number-label" for="{{i}}">Hole {{i + 1}} Par</label>
                    <p-inputNumber 
                        [showButtons]="true" 
                        buttonLayout="horizontal"
                        inputId="{{i}}"
                        spinnerMode="horizontal"
                        decrementButtonClass="p-button-secondary"
                        incrementButtonClass="p-button-secondary"
                        incrementButtonIcon="pi pi-plus"
                        decrementButtonIcon="pi pi-minus"
                        size="5"
                        min="1"
                        [inputStyle]="{'text-align': 'center'}"
                        [(ngModel)]="p.par" />
                </span>
                <p-button class="center" (click)="addCourse()" label="ADD"></p-button>
                <p-toast key="addCourseSuccess" position="top-right" />
                <p-toast key="addCourseError" position="top-right" />
            </div>
        </div>
    </div>
</div>