.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-container {
    flex-direction: column;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

#pre-form-container {
    flex-direction: column;
    margin-bottom: 30px;
}

#pre-form-menu-container p-button {
    padding: 0px 10px 0px 10px;
}

#form-container {
    padding-top: 25px;
    margin-bottom: 30px;
}

#form-container input {
    width: 250px;
    height: 50px;
}

#form-container p-floatlabel {
    display: block;
    padding: 15px 0px 15px 0px;
}

#form-container p-button {
    padding-top: 15px;
}

#form-container p-inputnumber {
    padding: 5px 0px 5px 0px;
}

#input-number-label {
    text-align: right;
    padding-right: 5px;
}

#input-number-container {
    display: flex;
    flex-direction: column;
}