.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-container {
    flex-direction: column;
}

#main-menu-container {
    flex-direction: column;
    width: 400px;
}

#main-menu-container p-button {
    padding: 10px;
    /* width: 100%; */
}