<div class="center">
    <div id="page-container" class="center">
        <img style="margin-top: 30px; border-radius: 10px;" id="logo" src="/assets/Logov2.png" width="400" height="400">
        <div id="main-menu-container" class="center">
            <p-button routerLink="/play" routerLinkActive="active" icon="pi pi-play" label="PLAY"></p-button>
            <p-button routerLink="/add" routerLinkActive="active" icon="pi pi-plus-circle" label="ADD"></p-button>
            <p-button routerLink="/history" routerLinkActive="active" icon="pi pi-history" label="HISTORY"></p-button>
        </div>
    </div>
</div>

<router-outlet />